# username for login on IPWE1 device
username = admin
# password for login
password =
# hostname or IP address of IPWE1 device
host = paulchen.homelinux.org
# port where IPWE1 is listening
port = 10080
# use HTTPS
https = 0

# MySQL host
db_host = localhost
# MySQL username
db_username = sensor_data
# MySQL password
db_password = sensor_data
# MySQL database name
db_database = sensor_data

# if two values fall inside this period (in seconds), they will be considered to be duplicates of each other
time_margin = 30
# if the value changes less than this ratio within 'tendency_period' seconds (see below), it will be considered 'stable'
stable_margin = .01
# period to calculate tendency over (see 'stable_margin' above)
tendency_period = 3600
# seconds after which a recorded value will be considered outdated; if there are no newer values, the sensor's state will change to 'unknown'
value_outdated_period = 900
# if there are no sensor values for this time in seconds, it will be considered as an outage
outage_period = 240
# if the battery has not been changed for this period of time in days, this will trigger a 'WARNING' state
battery_warning = 365
# if the battery has not been changed for this period of time in days, this will trigger a 'CRITICAL' state
battery_critical = 400

# if username and password are required for access to the API
api_authentication = false

# if temperature and humidity are above this value, current data for that sensor will be ignored
bullshit_threshold = 95

# where to send error mails to
error_mails_rcpt = paulchen@rueckgr.at
# sender of error mails (From: header of emails)
error_mails_from = Sensors <sensors@rueckgr.at>

# additional HTML to include at the top of the page, separately for each language
top_text.de = 
top_text.en = 

# default language to be used
default_language = en

# date patterns for PHP and JavaScript, separately for each language
date_pattern.php.en = Y-m-d H:i
date_pattern.javascript.en = yyyy-MM-dd HH:mm
date_pattern.php.de = d.m.Y H:i
date_pattern.javascript.de = dd.MM.yyyy HH:mm

# decimal marks, separately for each language
decimal_mark.en = .
decimal_mark.de = ,

# directory containing Munin's RRD files
munin_data_directory = /var/lib/munin/domain/
# prefix of filenames of Munin's RRD files used for IPWE data
munin_prefix = host

